.logo{
    width: 200px;
    height: 100px;
}
 .header{
    display: flex;
    justify-content:space-between;
    margin:10px;
    border : 1px solid black;
 }

 

 .nav-items> ul {
    list-style-type:none;
    display:flex;
    padding: 10px;
 }

 .nav-items >ul >li{
    padding:20px;
 } 

 .card{
    width:200px;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin:10px;
 }

 .card img {
    width:100%;
 }

 .restraunt-list{
    display:flex;
    flex-wrap:wrap;
 }